/* span[class*="char"] {
  border: solid black 1px;
} */

span {
  border: solid black 1px;
  margin: 0.1em;
  padding: 0.5em;
  background-color: lightblue
}

body {
    background-color: #96D9D3;
}

.title {
    text-align: center;
}